@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}
@theme {
    --color-primary: #cb997e;
    --color-secondary: #ddbea9;
    --color-background: #b7b7a4;
    --color-surface: #ffe8d6;

    --color-accent: #f55418;

    --color-absent: #d74a49;
    --color-present: rgb(34, 197, 94);
    --color-half: #ffa600;
    --color-holiday: #1976D2;

    --color-disabled: #D49AC4;
    --color-text: #2A103B;
    --color-muted-text: #A67899;
    --color-border: #E6B5DC;

    --color-error: #ffadad;
    --color-success: #caffbf;
    --color-warning: #ffd6a5;
    --color-info: #DB8DD0;
    --color-link: #B33791;
}



@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}